/* estilos footer */
.gridC {
    grid-area: footer;
    background-color:$color-general;
    .flexFooter{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        
    }
    
}


.tamLogoEA{
    height: 10vh;
}

.tamLogoApex{
    height: 9.5vh;
}
